#productTable th, #productTable td {
    text-align: center;
    font-weight: 300 !important;
    background-color: #fff7f9;
    color: #7b7b7e;
}

.form-group, input#insertName.form-control, h5#exampleModalLabel.modal-title {
    font-family: openSansRegularFont, open_sans_regular, Georgia, Times, Times New Roman, sans-serif !important;
    color: #ff7a92;
}

button#refreshBtn.btn.btn-primary.btn-lg.btn-block, button#submit.btn.btn-success, button#submitUpdate.btn.btn-success {
    background-color: #ffccd5;
    color: #7b7b7e;
    border-color: white;
}

button#submit.btn.btn-success:hover, button#refreshBtn.btn.btn-primary.btn-lg.btn-block:hover, button#submitUpdate.btn.btn-success:hover {
    opacity: 50%;
}

a.btn.btn-danger {
    font-family: interstate, sans-serif !important;
    background-color: #ffccd5;

}

.footer {
    font-family: interstate, sans-serif;
    padding: 50px;
    text-align: center;
    background-color: #daf5f4;
    color: #7b7b7e !important;
    font-weight: 200;
}

h1 {
    font-family: AGaramondPro;
}

div.g { /*by lorine cherry*/
    font-family: "PalmBeach Trial";
    font-weight: bold !important;
}

body {
    background-color: #daf5f4 !important;
}

#searchBar {
    font-family: openSansRegularFont, open_sans_regular, Georgia, Times, Times New Roman, sans-serif !important;
    padding: 10px 0px 10px 60px;
    width: 100%;
    font-size: 20px;
    border: 1px solid black;
    margin-bottom: 20px;
    color: black;
    background-color: #ebfffe;
    background-image: url("../images/search.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 40px;
}

#productTable {
    font-family: interstate, sans-serif !IMPORTANT;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
    }

.modal-backdrop {
    z-index: 0 !important;
}